@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap");

:root {
  /* Colors */
  --color-yellow: hsl(47, 88%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-500: hsl(0, 0%, 42%);
  --color-gray-950: hsl(0, 0%, 7%);

  /* Typography */
  --font-family: "Figtree", sans-serif;
  --font-weight-medium: 500;
  --font-weight-bold: 800;
  --font-size-base: 1rem;
  --font-size-attribution: 0.6875rem;

  /* Spacing */
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-yellow);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  line-height: 150%;
}

main {
  margin-top: auto;
  margin-bottom: auto;
  padding: 1rem;
}

.card {
  background-color: var(--color-white);
  border-radius: 1.25rem;
  padding: var(--spacing-md);
  box-shadow: 0.5rem 0.5rem var(--color-gray-950);
  max-width: clamp(20rem, 90vw, 24rem);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

.card-image {
  border-radius: 0.625rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: flex-start;
}

.info h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
  line-height: 150%;
}

.info h2 a {
  text-decoration: none;
  color: var(--color-gray-950);
}

.info h2 a:hover,
.info h2 a:focus {
  color: var(--color-yellow);
}

.category {
  color: var(--color-gray-950);
  background-color: var(--color-yellow);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  padding: 0.75rem 0.25rem;
  border-radius: 0.25rem;
}

p {
  color: var(--color-gray-500);
  margin: 0;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.author-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.author-name {
  color: var(--color-gray-950);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  font-style: normal;
}

.attribution {
  text-align: center;
  margin-top: auto;
  padding-bottom: var(--spacing-sm);
  width: 100%;
}
.attribution a {
  color: #6951f0;
}
